.product {
    animation: fadeIn 1s 1.8s backwards;
    margin-top: 2rem;



    h5 {
        color: #FF2625;

        text-align: center;
        margin-bottom: 5rem;
        text-transform: uppercase;
        font-family: La Belle Aurore;
    }


    .container_card {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 2rem;





        .card {


            position: relative;
            width: 320px;
            height: 420px;
            background: #122936;
            border-radius: 20px;
            overflow: hidden;
            margin: 1rem;



            &::before {
                content: '';
                position: absolute;
                top: -50%;
                width: 100%;
                height: 100%;
                background-color: #FF2625;
                transform: skewY(345deg);
                transition: .5s;
                z-index: 1;
            }

            &:hover {
                &::before {
                    top: -70%;
                    transform: skewY(390deg);
                }

                img {
                    top: 10%;
                    right: 25%;
                    width: 150px;
                    height: 150px;

                }

                .det {
                    transform: translateY(0);

                }



            }


            img {
                position: absolute;
                z-index: 2;
                width: 250px;
                height: 250px;
                top: 20%;
                right: 10%;
                transition: .5s;

            }

            .det {
                position: absolute;
                bottom: 20%;
                z-index: 99;
                width: 80%;
                transform: translateY(50rem);
                transition: .5s;
                text-align: center;

                margin-left: 2rem;

                h5 {
                    color: #fff;
                    margin-bottom: 1rem;
                    text-transform: uppercase;
                    font-family: La Belle Aurore;
                }
            }


        }
    }
}