.row {
    display: block;
}

.team {
    animation: fadeIn 1s 1.8s backwards;
    padding: 50px 0;
    box-sizing: border-box;

    .container {
        width: 80%;
        margin: 50px auto;

        .box {
            position: relative;
            width: 100%;
            box-sizing: border-box;
            display: flex;

            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;


            h3 {
                color: #ff2625;
                text-align: center;
                margin: 0;
                padding: 0;
                font-weight: 700;
                font-size: 48px;
                text-transform: uppercase;
                width: 100%;
            }

            p {
                margin: 20px 0 0;
                padding-left: 20px;
                border-left: 5px solid #f00;
            }

            .colume {
                margin: 10px 10px;
                position: relative;
                width: 250px;
                background-color: #fff;
                min-height: 250px;
                float: left;
                box-sizing: border-box;
                overflow: hidden;
                box-shadow: 5px 5px rgba(0, 0, 0, .9);


                .img-box {
                    position: relative;


                    img {
                        width: 100%;
                        transition: 5s;
                        height: 350px;
                    }
                }

                &:hover {



                    .img-box {


                        img {
                            transform: scale(1.5);
                        }
                    }

                    .detail {
                        bottom: 0;
                    }
                }

                .detail {
                    position: absolute;
                    bottom: -85px;
                    left: 0;
                    padding: 15px;
                    box-sizing: border-box;
                    background-color: rgba(0, 0, 0, .9);
                    width: 100%;
                    transition: .5s;

                    h4 {
                        margin: 0;
                        padding: 0;
                        color: #fff;
                        font-weight: 500;
                        font-size: 20px;
                        text-align: right;
                        text-transform: uppercase;

                        span {
                            margin: 0;
                            padding: 0;
                            font-size: 14px;
                            color: #f00;
                            font-weight: 900;
                            text-transform: uppercase;
                            position: relative;
                            top: -6px;
                        }

                    }

                    ul {
                        padding: 0;
                        margin: 0;
                        display: flex;
                        float: right;

                        li {
                            list-style: none;

                            a {
                                padding: 0 10px;
                                color: #fff;

                                svg {
                                    transition: .5s;
                                }

                                &:hover {
                                    svg {
                                        transform: rotateY(360deg);
                                        color: #ff2625;
                                    }
                                }

                            }

                        }
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 0, 0, 1);
                }
            }
        }
    }


    .conta {
        .row {
            border: 1px solid black;
            padding: 1rem;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 1);
            border-radius: 5px;
            background-color: #fff;

            .list {
                margin-left: 5rem;
                margin-top: 1rem;
            }

        }
    }





}