.classes {
    animation: fadeIn 1s 1.8s backwards;
    margin-top: 2rem;







    h5 {
        color: #FF2625;

        text-align: center;
        margin-bottom: 5rem;
        text-transform: uppercase;
        font-family: La Belle Aurore;
    }
}